<!-- voter_analytics/templates/search_voters.html
    A form to provide fields to filter the data on the voters page.
-->

<table>
    <form action="{% url 'voters' %}">
        <tr>
            <th>Party Affiliation:</th>
            <td>
                <select name="affiliation">
                    <option disabled selected value> -- select an option -- </option>
                    <option value="U ">U</option>
                    <option value="D ">D</option>
                    <option value="R ">R</option>
                    <option value="J ">J</option>
                    <option value="A ">A</option>
                    <option value="CC">CC</option>
                    <option value="X ">X</option>
                    <option value="L ">L</option>
                    <option value="Q ">Q</option>
                    <option value="S ">S</option>
                    <option value="FF">FF</option>
                    <option value="G ">G</option>
                    <option value="HH">HH</option>
                    <option value="T ">T</option>
                    <option value="AA">AA</option>
                    <option value="GG">GG</option>
                    <option value="Z ">Z</option>
                    <option value="O ">O</option>
                    <option value="P ">P</option>
                    <option value="E ">E</option>
                    <option value="V ">V</option>
                    <option value="H ">H</option>
                    <option value="Y ">Y</option>
                    <option value="W ">W</option>
                    <option value="EE">EE</option>
                    <option value="K ">K</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Voter Score:</th>
            <td>
                <select name="voter_score">
                    <option disabled selected value> -- select an option -- </option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Min Year of Birth:</th>
            <td>
                <select name="min_birth">
                    <option disabled selected value> -- select an option -- </option>
                    {% for i in years %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Max Year of Birth:</th>
            <td>
                <select name="max_birth">
                    <option disabled selected value> -- select an option -- </option>
                    {% for i in years %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Previous Election Participation:</th>
            <td>
                <input type="checkbox" name="v20state" id="v20state">
                <label for="v20state">v20state</label><br>
                <input type="checkbox" name="v21town" id="v21town">
                <label for="v21town">v21town</label><br>
                <input type="checkbox" name="v21primary" id="v21primary">
                <label for="v21primary">v21primary</label><br>
                <input type="checkbox" name="v22general" id="v22general">
                <label for="v22general">v22general</label><br>
                <input type="checkbox" name="v23town" id="v23town">
                <label for="v23town">v23town</label><br>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
            <td></td>
        </tr>
    </form>
    <form action="{% url 'voters' %}">
        <tr>
            <td>
                <input type="submit" value="Clear">
            </td>
            <td></td>
        </tr>
    </form>
</table>