<!-- voter_analytics/templates/voter_analytics/voter.html
    Display the information for a specific voter
-->
{% extends 'voter_analytics/base.html' %}

{% block content %}
    <div class="profile-container">
        <div>
            <h2>{{v.first_name}} {{v.last_name}}</h2>
            <h3>Party Affiliation:</h3>
            <p>
                {{v.affiliation}}
            </p>
            <h3>Precinct:</h3>
            <p>
                {{v.precinct}}
            </p>
            <h3>Born:</h3>
            <p>
                {{v.dob}}
            </p>
            <h3>Registered to Vote as of:</h3>
            <p>
                {{v.dor}}
            </p>
            <table>
                <tr>
                    <th>Election</th>
                    <th>Voted</th>
                </tr>
                <tr>
                    <td>2020 State</td>
                    <td>{{v.v20state}}</td>
                </tr>
                <tr>
                    <td>2021 Town</td>
                    <td>{{v.v21town}}</td>
                </tr>
                <tr>
                    <td>2021 Primary</td>
                    <td>{{v.v21primary}}</td>
                </tr>
                <tr>
                    <td>2022 General</td>
                    <td>{{v.v22general}}</td>
                </tr>
                <tr>
                    <td>2023 Town</td>
                    <td>{{v.v23town}}</td>
                </tr>
            </table>
            <h3>Address:</h3>
            <p>
                <a href="{{v.get_address}}">
                    {{v.street_number}} {{v.street_name}}
                </a>
            </p>
        </div>
    </div>
{% endblock %}