{% extends 'hw/base.html' %}

{% block content %}
    <h1>About this page</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius impedit obcaecati ipsa, neque facere? Eius, quos perspiciatis nostrum consectetur aliquid temporibus accusantium error aliquam qui fuga, ducimus maxime quod.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad soluta velit quasi temporibus odio aut aspernatur, ea porro cumque commodi possimus veniam explicabo? Officia labore quae iste rem tenetur itaque?
    </p>
{% endblock %}