<!-- project/templates/project/create_pm_form.html 
    Template to display the form to create a Personal message.
-->

{% extends 'project/base.html' %}

{% block content %}
    <h1>Create a New Personal Message</h1>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" name="submit" value="Submit" class="btn">
    </form>
    <form action="{% url 'profile_home'%}">
        <input type="submit" value="Cancel" class="btn">
    </form>
{% endblock %}