<!-- restaurant/templates/restaurant/base.html -->

{% load static %}

<html>
    <head>
        <title>Quotes</title>
        <link rel="stylesheet" href="{% static 'restaurant.css' %}">

        <!-- League Gothic font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">

        <!-- PT serif font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Lobster Haven</h1>
            <nav>
                <li><a href="{% url 'main' %}">Main Page</a></li>
                <li><a href="{% url 'order' %}">Order</a></li>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
        
    </body>
</html>