<!-- restaurant/templates/restaurant/confirmation.html -->

{% extends 'restaurant/base.html' %}

{% block content %}
    <h1>Your order is confirmed!</h1>

    <h2>Ready time:</h2>
    <p>{{readytime}}</p>

    <h2>Your order:</h2>
    {% for i in items %}
        <p>{{i}}</p>
    {% endfor %}

    {% if instructions != '' %}
        <h2>Special Instructions</h2>
        <p>{{instructions}}</p>
    {% endif %}

    <h2>Total:</h2>
    <p>${{total}}</p>

    <h2>Customer Information:</h2>
    <p>{{name}}</p>
    <p>{{email}}</p>
    <p>{{phone}}</p>

{% endblock %}