<!-- restaurant/templates/restaurant/main.html -->

{% extends 'restaurant/base.html' %}

{% block content %}
    <h1>Let's get crackin'</h1>
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2e/2e/bb/a4/full-table.jpg?w=600&h=400&s=1" alt="Lobster Feast">
    <p>
        Boston's finest lobster. Don't believe us? Come in and see for yourself!
    </p>
    <p>
        3152 Joanne Lane, Boston MA, 02110
    </p>
    <p>
        Hours:
    </p>
    <table>
        <tr>
            <td>Monday: 11am - 10pm</td>
        </tr>
        <tr>
            <td>Tuesday: 11am - 10pm</td>
        </tr>
        <tr>
            <td>Wednesday: 11am - 10pm</td>
        </tr>
        <tr>
            <td>Thursday: 11am - 10pm</td>
        </tr>
        <tr>
            <td>Friday: 11am - 12pm</td>
        </tr>
        <tr>
            <td>Saturday: 11am - 12pm</td>
        </tr>
        <tr>
            <td>Sunday: Closed</td>
        </tr>
    </table>
{% endblock %}