<!-- mini_fb/templates/mini_fb/base.html -->

{% load static %}

<html>
    <head>
        <title>Mini Facebook</title>
        <!-- <link rel="stylesheet" href="{% static 'blog.css' %}"> -->
    </head>
    <body>
        <header>
            <h1>A Miniature Facebook</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles' %}">Show All</a></li>
                </ul>
            </nav>
        </header>
    
        {% block content %}
        {% endblock %}    

        <footer>
            This page was created by Milo Zurn-Galinsky
        </footer>
  
    </body>
</html>