<!-- mini_fb/create_status_form.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}
    <h1>Create a new status about {{profile.first_name}}</h1>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <div class="file-input-container">
            <input type="file" name="files" id="file-upload" multiple class="styled-file-input" />
        </div>
        <input type="submit" name="submit" value="Submit" class="btn">
    </form>
{% endblock %}