<!-- mini_fb/delete_status_form.html 
    Displays two small forms for confirmation on the delete of the status message.
-->

{% extends 'mini_fb/base.html' %}

{% block content %}
    <h1>Are you sure you want to delete this status message?</h1>

    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn">
    </form>

    <form action="{% url 'show_profile' status.profile.pk %}" method="GET">
        {% csrf_token %}
        <input type="submit" value="Cancel" class="btn">
    </form>
{% endblock %}