<!-- mini_fb/templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}


{% block content %}
<main>

    {% if profile.last_name %}
        <h1>{{profile.first_name}} {{profile.last_name}}</h1>
    {% else %}
        <h1>{{profile.first_name}}</h1>
    {% endif %}

    <div class="profile-container">
		<img src="{{profile.image_url}}" alt="">
        
        <div>
            <h2>From {{profile.city}}</h2>
            <p>
                Email: {{profile.email}}
            </p>
            <h3>
                <a href="{% url 'update_profile' profile.pk %}" class="btn">Update Profile</a>
            </h3>
        </div>
    </div>
    <div class="status-container">
        <h1>Status Messages</h1>
        {% for msg in profile.get_all_status_messages %}
        <div class="status-message">
            <div class="status-content">
                <div class="message-details">
                    <h2>{{ msg.text }}</h2>
                    <p>at {{ msg.published }}</p>
                </div>
                <div class="message-img">
                    {% for img in msg.get_images %}
                        <img src="{{ img.image.url }}" alt="{{ img.image.url }}">
                    {% endfor %}
                </div>
                <div class="action-buttons">
                    <a href="{% url 'delete_status' msg.pk %}" class="btn">Delete</a>
                    <a href="{% url 'update_status' msg.pk %}" class="btn">Update</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <h3>
            <a href="{% url 'create_status' profile.pk %}" class="btn">Create a new Status Message</a>
        </h3>
    </div>

    <h1>{{profile.first_name}}'s Friends</h1>
    <div class="friends-container">
        {% for p in profile.get_friends %}
            <a href="{% url 'show_profile' p.pk%}">
                <div class="friend">
                        <img src="{{p.image_url}}" alt="" class="profile-img">
                    <h2>{{p.first_name}}</h2>
                </div>
            </a>
        {% endfor %}
    </div>

</main>
{% endblock %}