<!-- mini_fb/templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}


{% block content %}
<main>

    {% if profile.last_name %}
        <h1>{{profile.first_name}} {{profile.last_name}}</h1>
    {% else %}
        <h1>{{profile.first_name}}</h1>
    {% endif %}

    <div class="profile-container">
		<img src="{{profile.image_url}}" alt="">
        
        <div>
            <h2>From {{profile.city}}</h2>
            <p>
                Email: {{profile.email}}
            </p>
        </div>
    </div>
    <div class="status-container">
        <h1>Status Messages:</h1>
        {% for msg in profile.get_all_status_messages %}
            <div class="status-message">
                <h2>{{msg.text}}</h2>
                <p>at {{msg.published}}</p>
                {% for img in msg.get_images %}
                    <img src='{{img.image.url}}' alt='{{img.image.url}}'>
                {% endfor %}
            </div>
        {% endfor %}
        <h3>
            <a href="{% url 'create_status' profile.pk %}" class="btn">Create a new Status Message</a>
        </h3>
    </div>

</main>
{% endblock %}