{% extends 'quotes/base.html' %}

{% block content %}
    <h1>ABOUT</h1>
    <p>
        Nikola Jokic is the starting center for the Denver Nuggets NBA team. He has excelled since being in
        the league winning one championship and three MVP awards. He is from Serbia where he loves to enjoy
        his horses and live a simple life, yet he lives as one of the most famous athletes in the world.
    <p>

    <p>
        This website is brought to you by Milo Zurn-Galinsky, a computer science student at Boston University.
    </p>
{% endblock %}